.root:global(.__wab_instance) {
  width: 300px;
  box-sizing: border-box;
  object-fit: cover;
  background: var(--token-Kmamio7w0lDh);
  position: relative;
  overflow: auto;
  box-shadow: 0px 0px 12px 0px #00000040,
    0px 0px 0px 0.5px var(--token-LbLjuDsGPxfa);
  border-radius: var(--token-vZr_wcgE_t9m);
  padding: var(--token-lcGqgo--F3rT);
}
.ariaListBox:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  outline-style: none;
  min-width: 0;
}
.menuSection__klPw:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
